@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0;
    padding: 0
}

body {
    background: #001F28;
    font-family: Lato, Georgia, 'Times New Roman', Times, serif;
}

header {
    background: #E7EAEB;
    color: #8C1410;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    font-size: 46px;
}

.board {
    margin: 20px 0;
    padding: 20px 0;
    color: whitesmoke;
    text-align: center;
}

.part {
    display: inline-block;
    position: relative;
    font-weight: bold;
}


#playerBadge {
    position: absolute;
    top: 60px;
    left: -45px;
    transform: rotateZ(-90deg);
}

#computerBadge {
    position: absolute;
    top: 60px;
    right: -45px;
    transform: rotateZ(90deg);
}

.badge {
    font-size: 15px;
    background: #8C1410;
    width: 75px;
}

.result {
    font-size: 100px;
    border: 4px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 5px;
    width: 200px;
}

.message-div {
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}

.choices {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 165px;
}

.choice {
    margin: 30px 20px;
    display: inline-block;
    border: 3px solid #001F28;
}

.choice:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 20px #000000;
}

.intro {
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
}

.green-glow {
    border: 3px solid green;
    border-radius: 50%;
}

.red-glow {
    border: 3px solid #8C1410;
    border-radius: 50%;
}

.yellow-glow {
    border: 3px solid gold;
    border-radius: 50%;
}

.green-shine {
    border: 4px solid green;
    border-radius: 5px;
    color: green;
}

.red-shine {
    border: 4px solid #8C1410;
    border-radius: 5px;
    color: #8C1410;
}

.yellow-shine {
    border: 4px solid gold;
    border-radius: 5px;
    color: gold;
}
